* {
  padding: 0px;
  margin: 0px;
}

html {
  background: url(lernen.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #fff;
}

#sidebar {
  position: fixed;
  width: 30%;
  height: 100%;
  left: -30%;
  background-color: black;
}

#sidebar li {
  font-size: 25px;
  padding: 30px;
  border-bottom: 1px solid grey;
  text-align: center;
}

.toggle-btn {
  position: absolute;
  left: 105%;
  top: 15px;
}

.toggle-btn span {
  display: block;
  background-color: black;
  width: 30px;
  height: 5px;
  margin: 3px;
}

#sidebar.active {
  left: 0%;
}

#titel {
  padding-top: 150px;
  font-size: 50px;
  text-align: center;
}

 a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #8A084B;
}


::-webkit-scrollbar{
  background: #ddd;
  width: 14px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 10px #00000070;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(125deg,#3498db,#34495e,#6600ff);
  border-radius: 10px;
}

.order {
  text-align: center;
  padding-top: 50px;
}

#order {
  padding: 15px;
}

input {
  margin: 10px;
  border-radius: 30px;
  border: 0px;
}

input:hover {
  background-color: #8A084B;
}

form {
  margin: 10px;
  display: inline-block;
  margin-left: 18px;
  margin-right: -1px;

}

select {
  width: 163px;
  cursor: pointer;
  border-radius: 30px;
}

select:hover {
  background-color: #8A084B;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}

option {
  color: #fff;
}

#submit {
  width: 150px;
  background-color: black;
  color: #fff;
}

#submit:hover {
  background-color: #8A084B;
}

::placeholder {
  text-align: center;
}

textarea {
  width: 350px;
}

#yourBtn {
  color: #fff;
  top: 150px;
  font-family: calibri;
  width: 150px;
  padding: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  text-align: center;
  background-color: black;
  cursor: pointer;
}
